<div class="login-container background">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm"  class="login-form">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input [errorStateMatcher]="matcher" type="text" matInput placeholder="Username"
                        formControlName="username" name="somethingAutofillDoesntKnow" autocomplete="off">
                    <mat-error *ngIf="username?.hasError('required')">
                        username required! 
                    </mat-error>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input [errorStateMatcher]="matcher" type="password" matInput placeholder="Password"
                        formControlName="password" name="somethingAutofillDoesntKnow" autocomplete="off">
                    <mat-error *ngIf="password?.hasError('required')">
                        password required!
                    </mat-error>
                </mat-form-field>
    </form>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
        <div class="button">
            <button color="primary" type="submit" (click)="submit()" mat-raised-button>Login</button>
        </div>
        </mat-card-actions>
    </mat-card>
    
</div>