.header {
    // flex-direction: column;  

    h3{
        color: #7A7A7A;
        font-weight: 400;

        a{
            text-decoration: none;
            color: #7A7A7A;
        }
        
        a:hover{
            color:#7A7A7A;   
            text-decoration: underline;
        }
    }

}

.transfert-details{
    padding: 20px 40px;
    display: grid;
    grid-gap: 20px;
    height: calc(100vh - 100px - 65px);
    display: flex;
    justify-content: space-between;

    .transfert-metadatas{
        padding: 10px;
        height: 100%;
        width: 45%;

        .transfert-metadata{
            margin-bottom: 25px;
            
            h1{
                margin-bottom: 7px;
            }

            h3{
                color: #7A7A7A;
                font-size: 1rem;

                
            }

            .download-times{
                font-size: 2rem;
            }
        }
    }

    .files{
        padding: 10px;
        height: 100%;
        width: 45%;   
        overflow-y: auto;
        
        .file{
            border-bottom: 0.5px solid #94A3B8;
        }

        .file{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 4px;
    
            .file-name{
                color: #1E293B;
                font-size: 0.9rem;
                margin-bottom: 5px;
            }
    
            .file-size{
                color: #94A3B8;
                font-size: 0.8rem;
                margin-bottom: 0px;
            }
        }
    }
}