<div class="wrapper">
    <div class="header">
      <h1>Transfert Title</h1>
      <h3> 10 files . 
        total size 118 ko
    </h3>
    </div>

    <div class="transfert-details">
        <div class="transfert-metadatas">
            <div class="transfert-metadata">
                <h1>Receiver</h1>
                <h3>mohammedaminerabhi17@gmail.com</h3>
            </div>
            <div class="transfert-metadata">
                <h1>Sender</h1>
                <h3>mohammedaminerabhi17@gmail.com</h3>
            </div>
            <div class="transfert-metadata">
                <h1>Download Times</h1>
                <h3 class="download-times">0</h3>
            </div>


        </div>
        <div class="files">
            <h1>3 files</h1>
            
        </div>
    </div>
    </div>
