
<mat-card>
    <mat-horizontal-stepper #stepper>
        <mat-step label="Step 1">
            <app-contact-details-form [myStepper]="stepper"></app-contact-details-form>
                
        </mat-step>
        <mat-step label="Step 2">
            <div class="step-2">
                <div class="left-side">
                    <app-files-upload (getFiles)="uploadFiles($event)"></app-files-upload>
                </div>
                <div class="rigth-side">
                    
                </div>
            </div>
        </mat-step>
        <mat-step  label="Step 3">
        </mat-step>
    </mat-horizontal-stepper>
</mat-card>