<div class="card">
   <div class="card-content">
    <div class="card-title">
        {{transfert?.title}}
    </div>
    <div class="transfert-infos">
        {{transfert?.files?.length}} file . 
        download times {{transfert?.downloadTimes}} . 
        <a href="https://localhost:8080/download/{{transfert?.path}}" (click)="copyDownloadLink($event)">download link</a> 
    
    </div>
   </div>
   <div class="details-icon">
    <a [routerLink]="transfert?.id">
        <mat-icon>chevron_right</mat-icon>
    </a>
   </div>
</div>