<mat-card>
        <div class="recap-field">
            <mat-icon>send</mat-icon>
            <mat-chip-list>
                <mat-chip>
                    {{contactDetails?.sender}} 
                </mat-chip>
            </mat-chip-list>
        </div>

        <div class="recap-field">
            <mat-icon>inbox</mat-icon>
            <mat-chip-list>
                <mat-chip>
                    {{contactDetails?.receiver}}
                </mat-chip>
            </mat-chip-list>
        </div>

        <div class="recap-field">
            <mat-icon>title</mat-icon>
            <span>{{contactDetails?.title}}</span>
        </div>

        <div class="recap-field">
            <mat-icon>notes</mat-icon>
            <span>{{contactDetails?.message}}</span>
        </div>




</mat-card>