<mat-card>

        <div class="recap-field">
            <mat-chip-list>
                <mat-chip>Reciever</mat-chip>
            </mat-chip-list>
            <p>{{contactDetails?.sender}}</p>
        </div>

        <div class="recap-field">
            <mat-chip-list>
                <mat-chip>Sender</mat-chip>
            </mat-chip-list>     
            <p>{{contactDetails?.receiver}}</p>
        </div>

        <div class="recap-field">
            <mat-chip-list>
                <mat-chip>Title</mat-chip>
            </mat-chip-list>
            <p>{{contactDetails?.title}}</p>
        </div>

        <div class="recap-field ">
            <mat-chip-list>
                <mat-chip>Message</mat-chip>
            </mat-chip-list>
        <p class="message">{{contactDetails?.message}}</p>
        </div>


</mat-card>