<div class="wrapper">
  <div class="header">
    <h1>Transferts</h1>
    <div class="actions">
      <form action="">
        <mat-form-field appearance="outline">
          <mat-label>Search by title</mat-label>
          <input matInput type="text" (input)="onSearch($any($event).target.value)"
            placeholder="find by transfert title" autocomplete="off">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

      </form>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Sended">
      <div *ngIf="loaderService.isLoading | async" class="spinner-container">
        <mat-spinner [diameter]="70"></mat-spinner>
      </div>
      <div class="cards-container">
        <app-transfert-card *ngFor="let transfert of user?.sendedTransferts  | transfertSearch : term"
          [transfert]="transfert" [routerLink]="transfert?.id"></app-transfert-card>
      </div>
    </mat-tab>
    <mat-tab label="Received">
      <div class="cards-container">
        <div *ngIf="loaderService.isLoading | async" class="spinner-container">
          <mat-spinner [diameter]="70"></mat-spinner>
        </div>
        <app-transfert-card *ngFor="let transfert of user?.receivedTranferts  | transfertSearch : term"
          [transfert]="transfert" [routerLink]="transfert?.id"></app-transfert-card>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>