:host ::ng-deep .mat-horizontal-stepper-content{
    margin-top: 10px;
    height: calc(100vh - 230px);
} 

:host ::ng-deep mat-horizontal-stepper{
    background: transparent;
}

.step-2,
.step-3{
    display: flex;
    justify-content: space-between;
    height: 300px;
}

.step-3 .left-side{
    width: 45%;
}

.step-3 .rigth-side{
    width: 50%;
}

.step-2 .left-side{
    width: 45%;
}

.step-2 .rigth-side{
    width: 50%;
}

.commands{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.commands button{
    margin-left: 10px;
}

.commands button:disabled{
    background-color: #eee !important;
    // color: #1E293B !important;
}

