:host ::ng-deep .mat-horizontal-stepper-content{
    height: calc(100vh - 240px);
} 

.step-2{
    display: flex;
    justify-content: space-between;
    height: 300px;
}

.left-side{
    width: 45%;
}

.rigth-side{
    width: 45%;
}

.commands{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.commands button{
    margin-left: 10px;
}

.commands button:disabled{
    background-color: #eee !important;
    color: #1E293B !important;
}
.commands button:nth-child(2){
    background-color: #1E293B;
    color: white;
}