<mat-error *ngIf="!allowedSize">Vous avez dépasser la taille maximum <strong>2Go</strong></mat-error>
<div class="files-list">
    <p class="no-files" *ngIf="files.length == 0">No files to upload</p>
    <ng-container *ngIf="files.length != 0">
    <div class="file mat-elevation-z2" *ngFor="let file of files;let i=index">
        <div >
            <mat-icon class="size">folder</mat-icon>
        </div>
        <div class="file-details">
            <p class="file-name">{{file?.name}}</p>
            <p class="file-size">{{file.size | formatFileSize: false}}</p>
        </div>
        <button mat-icon-button class="btn" (click)="deleteFile(i)">
            <mat-icon color="warn">close</mat-icon>
          </button>
    </div>
    </ng-container>
</div>
<!-- <p class="files-infos">Your have up loaded {{files.length}} files with a totla size of {{getTotalUploadedFilesSize() | formatFileSize:false}}</p> -->